<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

    <!-- home.html 고유 CSS 추가 -->
    <th:block layout:fragment="pageCss">
        <link rel="stylesheet" th:href="@{/css/page/home.css}">
    </th:block>
    <!-- home.html 고유 스크립트 추가 -->
    <th:block layout:fragment="pageScript">
        <script th:src="@{/js/page/home.js}"></script>
    </th:block>

    <div layout:fragment="content" class="home-content">
        <div class="home-wrapper">
            <p class="title">Profile.</p>
            <div class="row">
                <div class="col-md-12">
                    <th:block th:if="${userName!=null}">
                        <div class="center">
                            Logged in as : <span id="user" th:text="${userName}"></span>
                            <a th:href="@{'/profile/' + ${userId}}" class="btn btn-info active" role="button">프로필 화면</a>
                            <a href="/logout" class="btn btn-info active" role="button">로그아웃</a>
                        </div>
                    </th:block>
                    <th:block th:if="${userName==null}">
                        <div class="center">
                            <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</html>