.home-content {
    display: table-cell;
    vertical-align: middle;
}

.title {
    font-size: 7em;
    text-align: center;
}

.container {
    display: table;
    height: 100%;
    min-height: 100%;
}

.center {
    text-align: center;
}

